## Import Statements

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

## Loading Data

In [2]:
#Load in data and display the first few rows
power_plant_data = pd.read_csv('../Datasets/power_plant.csv')
print('Data Loaded Successfully')
display(power_plant_data.head())

#Check Shape
num_samples = power_plant_data.shape[0]
num_features = power_plant_data.shape[1]
print('Number of Samples:', num_samples)
print('Number of Features:', num_features)
print('Data Shape:', power_plant_data.shape) #(Samples, Features)

Data Loaded Successfully

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

Number of Samples: 9568
Number of Features: 5
Data Shape: (9568, 5)

## Preprocessing Data

In [3]:
#None Needed

## Examining Data

In [4]:
#Print all the keys in the dataset
print('Keys in the dataset:')
print(power_plant_data.keys(), end='\n\n')

#Display correlation matrix
corr_mat = power_plant_data.corr()
corr_mat = (
    corr_mat
    .style
    .background_gradient(
        cmap='coolwarm',
        vmin=-1,
        vmax=1,
        axis=None
    )
)
display(corr_mat)

Keys in the dataset:
Index(['AT', 'V', 'AP', 'RH', 'PE'], dtype='object')

## Setting Target and Features

In [5]:
#Set the target variable
target_data = power_plant_data['PE']
print('Target variable set')

#Drop the target variable from the data
auto_mpg_data = power_plant_data.drop(columns=['PE'])
print('Target variable dropped from data')

Target variable set
Target variable dropped from data